<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.pcar.back.boards.imgComment.model.dao.ImgCommentMapper">
	<!-- 신고 후 관리자가 승인해서 안보여줄 조건 -->
	<sql id="imgCommentReportFilter">
	    AND NOT EXISTS (
	        SELECT 1
	          FROM TB_REPORT R
	         WHERE R.TARGET_TYPE = 'IMGCOMMENT'
	           AND R.TARGET_NO   = IC.IMG_COMMENT_NO
	           AND R.REJECTED    = 'N'   <!-- 관리자 승인되어 숨겨야 하는 것만 -->
	    )
	</sql>
	
	<insert id="save" 
	parameterType="com.kh.pcar.back.boards.imgComment.model.dto.ImgCommentDTO">
		INSERT 
		  INTO 
			   TB_IMG_COMMENT IC
			   (
			   IC.IMG_COMMENT_NO
			 , IC.IMG_COMMENT_WRITER
			 , IC.IMG_COMMENT_CONTENT
			 , IC.IMG_COMMENT_DATE
			 , IC.IMG_COMMENT_STATUS 
			 , IC.REF_INO
			   )
		VALUES 
			   (
			   SEQ_ICNO.NEXTVAL
			 , (SELECT M.USER_NO FROM TB_MEMBER M WHERE M.USER_ID = #{imgCommentWriter})
			 , #{imgCommentContent}
			 , DEFAULT
			 , DEFAULT
			 , #{refIno} 
			   )
	</insert>
	
	<select id="findAll" parameterType="long"
	resultType="com.kh.pcar.back.boards.imgComment.model.dto.ImgCommentDTO">
		SELECT 
			   IC.IMG_COMMENT_NO imgCommentNo
			 , M.USER_ID imgCommentWriter
			 , IC.IMG_COMMENT_CONTENT imgCommentContent
			 , IC.IMG_COMMENT_DATE imgCommentDate
			 , IC.IMG_COMMENT_STATUS imgCommentStatus
			 , IC.REF_INO refIno
		  FROM 
			   TB_IMG_COMMENT IC 
		  JOIN 
		  	   TB_MEMBER M ON IC.IMG_COMMENT_WRITER = M.USER_NO 
		 WHERE 
		 	   IC.IMG_COMMENT_STATUS = 'Y'
		   AND 
		       IC.REF_INO = #{imgBoardNo} 
		 <include refid="imgCommentReportFilter"/> 
		 ORDER 
		    BY 
		       IC.IMG_COMMENT_NO DESC
	</select>
	
	<!-- 댓글 내용 수정 -->
    <update id="update"
            parameterType="com.kh.pcar.back.boards.imgComment.model.dto.ImgCommentDTO">
        UPDATE 
        	   TB_IMG_COMMENT
           SET
               IMG_COMMENT_CONTENT  = #{imgCommentContent}
         WHERE
               IMG_COMMENT_NO  = #{imgCommentNo}
           AND 
               IMG_COMMENT_STATUS  = 'Y'
    </update>

    <!-- 댓글 삭제 : STATUS = 'N' 으로 소프트 삭제 -->
    <update id="delete" parameterType="long">
        UPDATE 
        	   TB_IMG_COMMENT
           SET 
               IMG_COMMENT_STATUS  = 'N'
         WHERE 
         	   IMG_COMMENT_NO = #{imgCommentNo}
    </update>

    <!-- 댓글 신고용: 댓글 작성자 USER_NO 조회록 -->
    <select id="findWriterUserNo" parameterType="long" resultType="long">
	    SELECT IMG_COMMENT_WRITER
	    FROM TB_IMG_COMMENT
	    WHERE IMG_COMMENT_NO = #{imgCommentNo}
	</select>
    
</mapper>
  